.custom-table {
  .ant-table table {
    border-radius: 0 !important;
  }
  .ant-table-body {
  }
  .ant-table-thead {
    border-radius: 0px;
    tr {
    }
    th {
      border-right: none !important;
      border-left: none !important;
      background: #208ccc;
    }
  }
  .ant-table-fixed-right table {
    border-left: none;
  }
  .ant-table-column-title {
    color: #fff;
    font-weight: bold;
    .title-box {
      background: #208ccc;
      padding: 0 16px;
      min-height: 45px;
      display: flex;
      align-items: center;
    }
    .addition-box {
      background-color: #ffffff;
      padding: 10px;
      min-height: 55px;
      .ant-select {
        width: 100%;
      }
    }
  }

  .ant-table-header {
    .ant-table-thead {
      .ant-table-header-column {
        width: 100%;
      }
    }
  }
  .ant-table-hide-scrollbar {
    display: flex;
    .ant-table-fixed {
      flex: 1;
    }
  }
}

.custom-table.custom {
  .ant-table-header {
    .ant-table-thead {
      th {
        padding: 0;
      }
    }
  }
  .button-column-action {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-action {
      width: 3px;
    }
  }
  .button-column-action:hover {
    background: #26a9e0;
  }
  .col-action {
    display: flex;
    .btn {
      color: #fff;
      margin: 2px;
      cursor: pointer;
    }
  }
  .ant-table-scroll table .ant-table-fixed-columns-in-body:not([colspan]) > * {
    visibility: initial;
  }
  .ant-table-fixed-right {
    border-radius: inherit;
  }
}

.panel-container {
  .custom-table {
    margin-left: -16px !important;
    margin-right: -16px !important;
  }
}
